{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel = "stylesheet" href = "{{ asset('CSS/home.css') }}" />

{% endblock %}

{% block body %}

    <section id = "header-section">

        <div id = "header-section-content" class = "flex-column">

            <div id = "header-section-title" class = "flex-row">

                <h1>Nos amis les oiseaux</h1>

            </div>

            <div id = "header-section-box" class = "flex-column">

                <p>Rejoignez une communauté investie dans l'observation et le recensement des oiseaux</p>
                <a href = "#ccm"><button class = "btn">Comment ça marche ?</button></a>
                <a href = "#qsn"><button class = "btn">Qui sommes-nous ?</button></a>

            </div>

        </div>

    </section>

    <section id = "ccm" class = "flex-column">

        <div id = "ccm-section-title" class = "flex-row">

            <h2>Comment ça marche ?</h2>

        </div>

        <div id = "ccm-section-content" class = "flex-row">

            <div id = "ccm-section-search-box" class = "flex-column">

                <h3>Recherchez</h3>
                <i class="fa fa-4x fa-search" aria-hidden="true"></i>
                <p>Parcourez notre carte interactive pour localiser les espèces observées par la comunauté.</p>
                <a href = "#carte"><button class = "btn">Parcourir la carte</button></a>

            </div>

            <div id = "ccm-section-observation-box" class = "flex-column">

                <h3>Observez</h3>
                <i class="fa fa-4x fa-binoculars" aria-hidden="true"></i>
                <p>Rejoignez la comunauté et aidez à répertorier les espèces sur votre territoire.</p>
                <a href = "#add_obs"><button class = "btn">En savoir plus</button></a>

            </div>

            <div id = "ccm-section-participate-box" class = "flex-column">

                <h3>Participez</h3>
                <i class="fa fa-4x fa-calendar-check-o" aria-hidden="true"></i>
                <p>Devenez référent et aidez à la gestion des observations et des utilisateurs.</p>
                <a href = "#carte"><button class = "btn">En savoir plus</button></a>

            </div>

        </div>

    </section>

    <section id = "qsn" class = "flex-column">

        <div id = "qsn-section-title" class = "flex-row">

            <h2>Qui sommes-nous ?</h2>

        </div>

        <div id = "qsn-section-content" class = "flex-column">

            <p>

                L'association NAO (Nos Amis les Oiseaux) regroupe les passionnés d'ornithologie.
                Rejoignez l'association afin de prendre part à un programme de recherche
                visant à étudier les effets du climat, de l'urbanisation et de l'aggriculture sur la biodiversité.

            </p>

            <a href = "#contact"><button class = "btn">Nous contacter</button></a>

        </div>

    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src = "{{ asset('JS/home.js') }}"></script>

{% endblock %}
